<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Autonomous Mission Planning of RF Landscapes: Texas A&M ECE Team 05</title>

<link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
<link rel="stylesheet" href="{{ site.path }}/stylesheets/pygment_trac.css">
<script src="{{ site.path }}/javascripts/scale.fix.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{{ site.path }}/javascripts/process-rel-links.js" type="text/javascript"></script>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="author" content="Michael Bartling">

<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>Autonomous Mission Planning of RF Landscapes</h1>
			<p>Texas A&M ECE Senior Design,</p><p> Michael Bartling, Jenny Chen, Myles Foreman</p>
			<p class="view">
				<a href="https://github.com/mbartling/TAMU_senior_design">View
					the Project on GitHub <small>mbartling/TAMU_senior_design</small>
				</a>
			</p>
			<ul>
				<li><a 				
                    href="{{ site.baseurl }}/index">Go <strong>Home</strong>
				</a></li>
				<li><a
					href="https://github.com/mbartling/TAMU_senior_design/zipball/master">Download
						<strong>ZIP File</strong>
				</a></li>
				<li><a
					href="https://github.com/mbartling/TAMU_senior_design/tarball/master">Download
						<strong>TAR Ball</strong>
				</a></li>
				<li><a href="https://github.com/mbartling/TAMU_senior_design">View
						On <strong>GitHub</strong>
				</a></li>
			</ul>
    </header>
		<section>
			<!--{% include toc.html %}-->
			{{ content }}
		</section>
	</div>
	<footer>
		<p>
			Project maintained by <a href="https://github.com/mbartling">mbartling</a>
		</p>
		<p>
			Hosted on GitHub Pages &mdash; Theme by <a
				href="https://github.com/orderedlist">orderedlist</a>
		</p>
	</footer>
	<!--[if !IE]><script>fixScale(document);</script><![endif]-->

</body>
</html>
